$body_bg: #eee;
$overlay_color: rgba(0, 0, 0, 0.404);
$input_border: rgba(128, 128, 128, 0.561);
$white: #fff;

@mixin onfocus($border, $shadow) {
  border-color: $border;
  box-shadow: 0 0 0 0.2rem $shadow;
}

@mixin btn($background, $border, $shadow) {
  background-color: $background;
  &:focus {
    @include onfocus($border, $shadow);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  outline: none;
}

body {
  font-size: 16px;
  height: 100vh;
  background: $body_bg;
}

input {
  display: block;
  width: 100%;
  border: 1px solid $input_border;
  height: 2.8rem;
  padding: 1rem;
  border-radius: 5px;
}

input:not(.invalid):focus,
.button:focus {
  @include onfocus(#2439fde8, #485aff46);
}

input:invalid,
.invalid {
  @include onfocus(rgba(255, 0, 0, 0.89), rgba(255, 0, 0, 0.164));
}

.button {
  display: block;
  height: 2.5rem;
  width: 100%;
  background-color: #485aff;
  border: 1px solid transparent;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  transition: all 0.1s ease-in;
  font-weight: bold;

  &.success {
    @include btn(#1eae98, #0b9b85, #1eae987a);
  }

  &.secondary {
    @include btn(#114e60, #007ea5, #114d604f);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover {
    opacity: 0.9;
  }
}
.button-icon {
  background: transparent;
  width: 25px;
  height: 25px;
  border: 0;
  padding: 4px;
  cursor: pointer;
  border-radius: 50%;
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(128, 128, 128, 0.336);
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;

  .button-icon:not(:last-child),
  .button:not(:last-child) {
    margin-right: 10px;
  }
}

.title {
  margin-bottom: 2rem;
}

.show {
  display: block !important;
  opacity: 1;
  z-index: 1;
}

.hide {
  opacity: 0 !important;
  z-index: -1;
}

.error {
  color: rgb(202, 0, 0);
  display: none;
  margin-top: 0.4rem;
  font-size: 12px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  background: $white;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;

  th,
  td {
    padding: 1.2rem;
    text-align: center;
    font-size: 13px;
  }
  tr {
    transition: all 0.2s ease;

    &:hover {
      background-color: rgba(128, 128, 128, 0.096);
    }
  }
}

.wrapper {
  max-width: 850px;
  margin: auto;
  margin-top: 8rem;
}

.container-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $overlay_color;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.container {
  position: fixed;
  width: 100%;
  max-width: 450px;
  background-color: $white;
  padding: 2rem;
  border-radius: 10px;
}

.close-container {
  position: absolute;
  background-color: transparent;
  border: none;
  right: 32px;
  font-size: 18px;
  top: 22px;
  color: gray;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.5rem;
  border-radius: 50%;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(128, 128, 128, 0.226);
  }
}

.muted {
  color: rgb(138, 138, 138);
}

.form {
  .header {
    margin-bottom: 1.8rem;
    .title {
      margin-bottom: 0.5rem;
    }
  }

  .button {
    margin-top: 0.8rem;
  }
}
.group {
  margin-bottom: 1rem;
  position: relative;
}

.group-row {
  display: flex;

  > .group {
    flex: 1 1 100%;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
