$body_bg: #eee;
$overlay_color: rgba(0, 0, 0, 0.404);
$input_border: rgba(128, 128, 128, 0.561);
$white: #fff;

* {
  font-family: "Ubuntu", sans-serif;
  outline: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
}

*::before,
*::after {
  display: table;
  clear: both;
}

body {
  font-size: 16px;
  height: 100vh;
  background: $body_bg;
}

input {
  display: block;
  width: 100%;
  border: 1px solid $input_border;
  height: 2.8rem;
  padding: 1rem;
  border-radius: 5px;
}

input:not(.invalid):focus,
.button:focus {
  border-color: #485affe8 !important;
  box-shadow: 0 0 0 0.2rem #485aff46;
}

input:invalid,
.invalid {
  border-color: rgba(255, 0, 0, 0.89) !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.164);
}

.button {
  display: block;
  height: 2.5rem;
  width: 100%;
  background-color: #485aff;
  border: 1px solid transparent;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  transition: all 0.1s ease-in;
  font-weight: bold;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover {
    background-color: #485affe8;
  }
}
.button-icon {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  .button-icon:not(:last-child) {
    margin-right: 10px;
  }
}

.title {
  margin-bottom: 2rem;
}

.show {
  display: block !important;
  opacity: 1;
  z-index: 1;
}

.hide {
  opacity: 0 !important;
  z-index: -1;
}

.error {
  color: rgb(202, 0, 0);
  display: none;
  margin-top: 0.4rem;
  font-size: 12px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  background: $white;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;

  th,
  td {
    padding: 1.2rem;
    text-align: center;
    font-size: 13px;
  }
  tr {
    transition: all 0.2s ease;

    &:hover {
      background-color: rgba(128, 128, 128, 0.096);
    }
  }
}
.wrapper {
  max-width: 550px;
  margin: auto;
  margin-top: 8rem;
}

.container-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $overlay_color;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}

.container {
  position: fixed;
  width: 100%;
  max-width: 450px;
  background-color: $white;
  padding: 2rem;
  border-radius: 10px;
}

.close-container {
  position: absolute;
  background-color: transparent;
  border: none;
  right: 32px;
  font-size: 18px;
  top: 22px;
  color: gray;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0.5rem;
  border-radius: 50%;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(128, 128, 128, 0.226);
  }
}

.muted {
  color: rgb(138, 138, 138);
}

#add_user {
  .header {
    margin-bottom: 1.8rem;
    .title {
      margin-bottom: 0.5rem;
    }
  }

  .group {
    margin-bottom: 1rem;
    position: relative;
  }

  .group-row {
    display: flex;

    > .group {
      flex: 1 1 100%;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  .button {
    margin-top: 0.8rem;
  }
}
