@font-face {
  font-family: "Inter var";
  src: url("inter_var.woff2") format("woff2");
}

:root {
  --base-color: #4903b8;
  --secondary-color: #45ec9c;
  --warn-color: #ffdd2a;
  --svg-color: rgba(0, 0, 0, 0.753);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.521);
  border-radius: 4px;
}

* {
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5 !important;
}

img {
  object-fit: cover;
}

.title {
  font-family: 'Archivo Black', sans-serif;
  font-weight: 800;
}

.underline {
  position: relative;
  background: #9540e0;
  background: linear-gradient(to right, #4600d3, #9540e0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-muted {
  color: rgb(51, 65, 85) !important;
}

.blocks {
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: #45ec9ba1;
  right: 1rem;
  bottom: 6rem;

  .block {
    width: 30px;
    height: 30px;
    position: absolute;
    background: #cef2fe;

    &:nth-of-type(1) {
      top: 15rem;
      left: -6rem;
    }

    &:nth-of-type(2) {
      right: -3rem;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #4903b8;
    right: 6rem;
    bottom: -3rem;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    width: 150px;
    height: 150px;
    background-color: var(--warn-color);
    right: -6rem;
    bottom: -10rem;
  }
}

.section {
  position: relative;
  z-index: 1;
}

.wrapper {
  margin-bottom: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;

  .logo>img {
    max-width: 120px;
    height: 120px;
    object-fit: cover;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-close {
      display: none;
    }

    >a {
      padding: 0.5rem 0.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      text-decoration: none;
      color: inherit;

      >.icon {
        width: 20px;
        height: 20px;
        display: block;
        margin-right: 8px;
        stroke: var(--base-color);
      }

      &:hover::before {
        width: 100%;
      }

      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 4px;
        left: 0;
        bottom: -3px;
        background-color: var(--secondary-color);
        transition: width 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
      }

      &:last-of-type {
        color: var(--base-color);
        border-radius: 15px;
        border: 1px solid var(--base-color);
        margin-left: 2.5rem;
        transition: all 200ms ease;

        &:hover {
          background: linear-gradient(to right, #4600d3, #9540e0);
          color: #fff;

          >.icon {
            stroke: #fff;
          }
        }

        &::before {
          content: none;
        }
      }
    }
  }
}

.hero {
  padding: 8rem 10rem;
  text-align: center;
  background: url("../img/hero.png"), url("../img/hero2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 36rem;

  .hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .hero-text {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

.box-text {
  width: 100%;
  margin: 0 auto;
  max-width: 650px;
}

.section-page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.card-feacture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  height: 100%;
  background: rgba(238, 238, 238, 0.712);
  position: relative;

  >svg {
    width: 40px;
    height: 40px;
    stroke: var(--base-color);
  }

  >p {
    margin-top: 1rem;
    text-align: center;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    left: 0;
    bottom: -3px;
    height: 3px;
    background-color: var(--base-color);
    transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &:hover {
    &::before {
      width: 100%;
    }

    >p {
      color: var(--base-color);
    }
  }
}

.section-faq {
  margin-top: 10rem;

  .questions {
    overflow: hidden auto;
    max-height: 500px;
    padding-right: 1rem;
  }

  .accordion-item {
    border: 0;
  }

  .accordion-button {
    box-shadow: none;
    background-color: transparent !important;

  }

  .img-faq {
    border-top-right-radius: 15rem;
    max-width: 500px;
    display: block;
    margin: auto;
  }
}

.section-info {
  margin-top: 12rem;
}

.section-search {
  margin-top: 10rem;

  .img-search {
    border-top-right-radius: 15rem;
  }

  .questions {
    overflow: hidden auto;
    max-height: 375px;
    padding-right: 1rem;

    >div:nth-of-type(1) {
      background: rgba(238, 238, 238, 0.685);
      padding: 1.5rem;
      border-radius: 5px;
    }
  }

  >.row {
    margin-top: 8rem;
  }
}

.section-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  padding: 5rem 3rem;
  border-radius: 10px;
  color: #fff;
  background: #00dbde;
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
  background: linear-gradient(to right, #00dadef3, #fb00ffa8), url("../img/pattern.png");

  >.button {
    background: #fff;
    color: #000;
  }
}

.footer {
  margin-top: 5rem;

  .footer-socials>svg {
    stroke: rgba(0, 0, 0, 0.384);
  }

  .footer-list {
    list-style: none;

    >li {
      padding-left: 0.5rem;
      margin-bottom: 0.5rem;
      border-left: 3px solid rgba(0, 0, 0, 0.192);
    }
  }

  .footer-logo {
    max-width: 120px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  border: none;
  background: linear-gradient(to right, #4600d3, #9540e0);
  color: white;
  font-family: inherit;
  text-align: center;
  font-size: 13px;
  width: 10em;
  padding: 1em;
  transition: all 0.4s;
  cursor: pointer;
  font-weight: 500;

  .icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
}

#menuToggle {
  display: none;
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;

  input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -0;
    padding: 0.5rem;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;

    &:checked~span {
      opacity: 1;
      transform: rotate(45deg) translate(-3px, -19px);
      background: #232323;

      &:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      &:nth-last-child(2) {
        transform: rotate(-45deg) translate(-5px, 20px);
      }
    }
  }

  span {
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 0.55s ease;

    &:first-child {
      transform-origin: 0% 0%;
    }

    &:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  }
}

@media screen and (max-width: 992px) {
  .header {
    z-index: 2;

    .nav {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      position: fixed;
      right: -22rem;
      top: 0;
      width: 100%;
      max-width: 300px;
      height: 100vh;
      padding-top: 5rem;
      background-color: #fff;
      border-left: 1px solid #eee;
      transition: all 700ms ease;
      z-index: 99;

      &.active {
        right: 0;
      }

      .nav-close {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: transparent;
        border: 0;
        z-index: 99;
        cursor: pointer;
        border-radius: 4px;

        &:hover {
          background-color: rgba(204, 203, 203, 0.363);
        }
      }

      a {
        margin-bottom: 2rem;

        &:last-of-type {
          margin: 0;
        }
      }
    }
  }

  .blocks {
    display: none;
  }

  #menuToggle {
    display: block;
  }

  .section-faq .img-faq {
    border-top-right-radius: 0;
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
  }

  .section-faq .questions,
  .section-search .questions {
    max-height: unset;
    overflow: unset;
    padding: 0;
    margin-bottom: 1rem;
  }

  .section-page:not(.section-signup) {
    padding: 0 4rem;
  }

  .section-signup {
    border-radius: 0;
  }

  .footer-socials {
    max-width: 240px;
  }
}

@media screen and (max-width: 576px) {
  body {
    font-size: 14px;
  }

  .header {
    padding: 0;
  }

  .hero {
    padding: 2rem 1rem;

    .hero-title {
      font-size: 2rem;
    }
  }

  .section-signup {
    text-align: center;
  }

  .section-search .img-search {
    border-top-right-radius: 0;
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
  }

  .section-page:not(.section-signup) {
    padding: 0 1rem;
  }

  .footer-socials {
    max-width: 100%;

    ul {
      padding: 0 !important;
    }
  }
}