*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none ;
    box-sizing: border-box !important;
    -webkit-text-rendering: optimizeSpeed;
    -moz-text-rendering: optimizeSpeed;
    -o-text-rendering: optimizeSpeed;
    text-rendering: optimizeSpeed;
}

body{
    font-size: 16px;
    width: 100%;
    height: 100%;
    background-color: #0f4c81;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10rem;
    transition: background-color .3s ease;
}

.colores{
    margin: auto;
    margin-top: 30px;
    display: flex;
    display: flex;
    justify-content: space-around;
    width: 300px;
}

.colores span{
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform .3s ease;
    border: 2px solid #fff;
}

.colores span:hover{
    transform: translateY(6px);
}

.colores .selected{
    transform: translateY(6px);
}

.hora{
    color: #0c9463;
}

.numero{
    color: #ff7315;
}

.azul{
    background-color: #0f4c81;
}

.oscuro{
    background-color: #1f1f1f;
}

.marron{
    background-color: #90303d;
}

.verde{
    background-color: #018383;
}

.fucsia{
    background-color: #b21f66;
}

.rojo{
    background-color: #801336;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.contenedor::before{
    content: "";
    display: table;
    clear: both;
}

.alerta-azul{
    background-color: #0a3c68;
}

.alerta{
    border-radius: 7px;
    padding: 25px 5px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.295);
}

.alerta h1{
    text-align: center;
    margin: 10px 0;
}

.alerta p{
    letter-spacing: 1.5px;
    word-spacing: 2px;
    line-height: 1.6;
    text-align: center;
}

.alerta button{
    margin: 10px auto;
    width: 200px;
    text-transform: uppercase;
}

.boton{
    cursor: pointer;
    display: block;
    padding: 10px 18px;
    letter-spacing: 1px;
    outline: none;
}

.boton:disabled{
    background-color: #ebe6e6 !important;
    color: rgba(0, 0, 0, 0.445);
}

.boton-start{
    background-color: #b21f66;
    color: #fff;
    transition: background-color .3s ease, transform .1s ease;
}

.boton-start:active, .boton-aceptar:active{
    transform: translateY(5px);
}

.boton-start:hover{
    background-color: #941251;
}


.boton-aceptar{
    margin: 0 auto;
    background-color: #ed6663;
    color: #fff;
    transition: background-color .3s ease, transform .1s ease;
}

.boton-aceptar:hover{
    background-color: #ce4644;
}

.consola{
    margin-top: 150px;
    display: none;
}

.logeador{
    overflow-y: auto;
    background-color: #1b262c;
    width: 800px;
    height: 300px;
    margin: 0 auto;
    border-radius: 6px;
}

.logeador #logeador{
    padding: 20px;
    line-height: 1.6;
}

.controles{
    text-align: center;
    width: 350px;
    margin: 30px auto;
}

.controles input, .controles label{
    margin: auto;
    margin-bottom: 10px;
}

.controles input{
    padding: 5px 15px;
    text-align: center;
}

@media screen and (max-width: 890px){
    .contenedor{
        max-width: 100% !important;
        width: 100% !important;
    }

    .consola, .logeador, .logeador pre{
        width: 100% !important;
    }

}

@media screen and (max-width: 570px){
    #logeador{
        font-size: 12px;
    }
}

@media screen and (max-width: 440px){
    .controles, .controles *{
        width: 90% !important;
    }

    .alerta{
        font-size: 12px;
    }
    
    .alerta h1{
        font-size: 20px;
    }

    .alerta button{
        font-size: 11px;
    }
}

body::-webkit-scrollbar{
    background-color: #0b4475c4;
}

body::-webkit-scrollbar-thumb{
    background-color: #052b4d;
    border-radius: 8px;
}

body::-moz-scrollbar{
    background-color: #0b4475c4;
}

body::-moz-scrollbar-thumb{
    background-color: #052b4d;
    border-radius: 8px;
}

body::-o-scrollbar{
    background-color: #0b4475c4;
}

body::-o-scrollbar-thumb{
    background-color: #052b4d;
    border-radius: 8px;
}