* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.alert.alert-open {
  opacity: 1;
  transform: translateY(0);
}

.alert {
  font-size: 14px;
  max-width: 470px;
  width: auto;
  background: #92e7d2;
  padding: 1rem;
  padding-left: 3rem;
  border-radius: 5px;
  color: #004e41;
  position: absolute;
  overflow: hidden;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.137);
  transition: all 0.5s ease;
  transform: translateY(-10rem);
  opacity: 1;
  z-index: 100;
}

.alert::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 100%;
  background: #007965c9;
}

.alert .alert-icon,
.alert .alert-close {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
}
.alert .alert-icon {
  width: 24px;
  height: 24px;
  left: 15px;
}

.alert .alert-close {
  width: 20px;
  height: 20px;
  right: 15px;
  cursor: pointer;
}

.alert .alert-title {
  margin-bottom: 0.5rem;
}

.alert .alert-content {
  width: 95%;
}

body {
  padding: 1rem;
}
